.formContainerEvaluation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.colImagem {
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
}
/* .colRadioButtons {

} */
