.header {
  display: flex;
  text-align: center;
  background: #fff1dc;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}
.text {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.flexFormat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iconLeft {
  margin-top: 10px;
  margin-right: 10px;
}
.iconFontAwesome {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: x-large;
}
