.header {
  display: flex;
  text-align: center;
  background: #fff1dc;
  justify-content: center;
  /* width: 100%; */
  height: 8vh;
}
.flexFormat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  display: flex;
  text-align: center !important;
  justify-content: center;
}
