.rowMenu {
  display: flex;
  justify-content: space-between;
}
.GridTitleGame {
  margin-top: 5%;
}

.listGame {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.MuiGrid-container {
  justify-content: center;
}
