.formContainerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.logo_friendlyMatch {
  margin-left: 15%;
  width: 65%;
}
.terms {
  font-size: 0.7em;
  justify-content: center;
}
.termsOfService {
  font-size: 0.7em;
}
