.formContainerSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
}
.container {
  margin-top: 10px;
}
.title {
  font-size: 1.17em;
  margin-top: 1.9em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}
.divHorizontal {
  display: flex;
  justify-content: space-between;
}

Button {
  width: 100%;
}
