.formContainerSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}
.titleIn {
  font-size: 1.17em;
  margin-top: 1.9em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}
.sendAgain {
  font-size: 0.7em;
}
