.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
}
h3 {
  font-size: 1.17em;
  margin-top: 1.9em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}
.divHorizontal {
  vertical-align: middle;
}
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
